.ln a {
	position: relative;
	padding-bottom: 2px;
	text-decoration: none;
}

.ln a::after {
	content: "";
	position: absolute;
	bottom: 2px;
	left: 0;
	height: 1px;
	width: 100%;
	transform: scaleX(0);

	-webkit-transition: transform .3s;
	transition: transform .3s;

}

.ln a:hover::after {
	transform: scaleX(1);
}